<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Text Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <h1>Text Detection</h1>
    <div class="container">
        <h2>Text Input</h2>
        <form id="textForm">
            <label for="text">Enter text:</label>
            <textarea id="text" name="text" rows="4" cols="50"></textarea>
            <button type="button" onclick="submitText()">Detect Language</button>
        </form>
        {% if language %}
        <div class="result">
            <h3>Prediction:</h3>
            <p>Detected language: {{ language }}</p>
        </div>
        {% endif %}
    </div>
    <script>
        function submitText() {
            const textArea = document.getElementById('text');
            const text = textArea.value;
            console.log(text);

            // Serialize the input as JSON
            const payload = JSON.stringify({ 'text': text });

            // Create a new request
            const xhr = new XMLHttpRequest();

            // Set the request URL and method
            xhr.open('POST', '/predict');

            // Set the request headers
            xhr.setRequestHeader('Content-Type', 'application/json');

            // Define the callback function when the request completes
            xhr.onload = function () {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    const result = document.querySelector('.result');

                    // Update the result element
                    if (result) {
                        result.innerHTML = `
                            <h3>Prediction:</h3>
                            <p>Detected language: ${response.language}</p>
                        `;
                    }
                } else {
                    console.error(xhr.status);
                }
            };

            // Send the request with the serialized payload
            xhr.send(payload);
        }
    </script>
</body>
</html>
