<!DOCTYPE html>
<html>
<head>
    <title>FastAPI Text Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    <h1>Text Detection</h1>
    <div class="container">
        <h2>Text Input</h2>
        <form action="{{ url_for('predict') }}" method="post">
            <label for="text">Enter text:</label>
            <textarea id="text" name="text" rows="4" cols="50"></textarea>
            <button type="submit">Detect Language</button>
        </form>
        {% if language %}
        <div class="result">
            <h3>Prediction:</h3>
            <p>Detected language: {{ language }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
